@model List<GymManager.Core.Members.Member>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

@section HeadUserName{
    @await Html.PartialAsync("~/Views/Shared/_SessionUser.cshtml")
}

<div class="container">
    <h1>Welcom to GymManager</h1>
    
    @await Html.PartialAsync("~/Views/Shared/_MemberList.cshtml",Model )
   
</div>