@model GymManager.Core.MembershipTypes.MembershipType
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <link href="~/lib/jqueryui/jquery-ui.min.css" rel="stylesheet" />

    <link href="~/lib/jqueryui/jquery-ui.structure.min.css" rel="stylesheet" />

    <link href="~/lib/jqueryui/jquery-ui.theme.min.css" rel="stylesheet" />

}

@section Scripts{

    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>

    <script src="~/views/MembershipTypes/create.js"></script>

}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h3 class="mt-5">Edit membership</h3>
        </div>
        <div class="col-6">
            <a asp-action="Index" class="btn btn-outline-info float-end">Back</a>
        </div>
    </div>

    <form asp-action="Edit">

        <input type="hidden" asp-for="Id" />


        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input type="text" class="form-control" asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>


        <div class="mb-3">
            <label asp-for="Cost" class="form-label">Cost</label>
            <input type="text" class="form-control" asp-for="Cost">
            <span asp-validation-for="Cost" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Duration" class="form-label">Duration</label>
            <input type="text" class="form-control" asp-for="Duration">
            <span asp-validation-for="Duration" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

</div>