@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<GymManager.Core.Members.Member>
@{
}


<table class="table">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Birthday</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var member in Model)
        {
            <tr>
                <th scope="row">@member.Name</th>
                <td>@member.LastName</td>
                <td>@member.BirthDay</td>
                <td>@member.Email</td>
            </tr>    
        }
    </tbody>
</table>