@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html >
    <head>
        <title>JavaScript DataTypes</title>
    </head>

    <body>
        <div id = "example"></div>
       
        <script src="~/datatypes.js"></script>
    </body>
</html>