@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<head>
	<title>JavaScript DataTypes</title>

	<style>

		button {
			padding: 10px;
		}

		.redButton {
			background: #FD8473;
		}

		.greenButton {
			background: #ACEAAC;
		}

	</style>

</head>

<body>
	<button id="button1" name="testButton" class="btn greenButton">Click me!</button>
	<button class="btn greenButton" name="testButton2">Click me!</button>
	<button class="btn greenButton" name="testButton3">Click me!</button>
	<button class="btn greenButton" name="testButton4">Click me!</button>
	<button class="btn greenButton" name="testButton5">Click me!</button>
	<button class="btn greenButton" name="testButton6">Click me!</button>


	<table id="sampleTable">
		<thead>
			<tr>
				<td>
					Button Name
				</td>
				<td>
					Clicked On
				</td>
			</tr>
		</thead>
	</table>


	<script src="~/datatypes.js"></script>
</body>
</html>